$color-1: #ded6ca; // Light grayish orange
$color-2: #cad2de; // Light grayish blue
$color-3: #deccca; // Light grayish red
$color-4: #caded6; // Light grayish cyan - lime green
$color-5: #fbfaf9; // Light grayish orange
$color-6: #ffd5c0; // Light orange
$color-7: #c0cbff; // light purple
$color-8: #ff8da1; //light watermelon


$success: #6fce72; // green
$alert: #ff0000; // red
